# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Virtual env
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Type checker
.pyright/
